---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/sections/Hero.astro';
import LinkSoccials from '../components/features/linkSoccials.astro';
import '../styles/global.css';


---

<Layout>
	<Header author="Christian Parisca"/>
	<main class="flex flex-col gap-16 mx-auto my-16 px-4">
		<Hero author="Christian Parisca" paragraph="Desarrollador Full Stack"/>
		<LinkSoccials />
	</main>
</Layout>
