---

const {author} = Astro.props

const year = new Date().getFullYear();
---

<footer class="container mx-auto py-8 text-slate-800 dark:text-slate-600">
  <div class=" px-4 flex flex-col md:flex-row justify-between items-center gap-4">
    
    <p class="text-sm font-medium">
      © {year} - {author}
    </p>

    <div class="flex gap-6 text-sm">
      <a href="https://github.com/christiancmd"  target="_blank" class="hover:text-sky-500 transition-colors">GitHub</a>
      <a href="https://www.linkedin.com/in/christian-parisca-herrera/" target="_blank" class="hover:text-sky-500 transition-colors">LinkedIn</a>
      <a href="emailto:pariscachristian@gmail.com" target="_blank" class="hover:text-sky-500 transition-colors">Email</a>
    </div>
    
  </div>
</footer>