---
import IconSocial from "../ui/IconSocial.astro";

const instIcon = 'socials/instagram.svg';
const gitIcon = 'socials/github.svg';
const linkIcon = 'socials/linkedin.svg';


const socials = [
  { name: 'Instagram', icon: instIcon, url: 'https://www.instagram.com/chris_tian14p/' },
  { name: 'GitHub', icon: gitIcon, url: 'https://github.com/christiancmd/' },
  { name: 'LinkedIn', icon: linkIcon, url: 'https://www.linkedin.com/in/christian-parisca-herrera/' },
];
---


<div class=" w-full h-16 flex justify-center">

  <div class="w-2/6 lg:w-3/12 bg-gray-300 flex justify-center items-center gap-16 rounded-xl border-b-2 border-slate-600  shadow-2xl shadow-slate-700">
    {socials.map(social => (
      <a href={social.url} target="_blank" rel="noopener noreferrer">
        <IconSocial
          src={social.icon}
          alt={social.name}
        />
      </a>
    ))}  
  </div>

</div>