---
import IconSocial from "../ui/IconSocial.astro";
import Cloud from "../ui/style/cloud.astro";

const instIcon = 'socials/instagram.svg';
const gitIcon = 'socials/github.svg';
const linkIcon = 'socials/linkedin.svg';


const socials = [
  { name: 'Instagram', icon: instIcon, url: 'https://www.instagram.com/chris_tian14p/' },
  { name: 'GitHub', icon: gitIcon, url: 'https://github.com/christiancmd/' },
  { name: 'LinkedIn', icon: linkIcon, url: 'https://www.linkedin.com/in/christian-parisca-herrera/' },
];
---

<div class="w-full h-16 flex justify-center px-4">

   <Cloud 
      bgColor="bg-indigo-950/15 mix-blend-multiply" 
      location="-bottom-10 right-10"
    />

  <div class="w-full max-w-75 md:max-w-md bg-gray-300 flex justify-center items-center gap-8 md:gap-12 lg:gap-16 rounded-xl border-b-2 border-slate-600 shadow-2xl shadow-slate-700 py-2">
    {socials.map(social => (
      <a 
        href={social.url} 
        target="_blank" 
        rel="noopener noreferrer"
        class="transition-transform hover:scale-110 active:scale-95"
      >
        <IconSocial
          src={social.icon}
          alt={social.name}
        />
      </a>
    ))}  
  </div>

</div>