---
interface Props{
    text:string;
    bg:string;
    color:string
}

const {text, bg, color} = Astro.props;
---

<button class=`${bg} ${color} font-bold px-8 py-4 rounded-xl shadow-lg shadow-gray-900/20 hover:bg-white hover:text-gray-900 hover:scale-105 border border-transparent hover:border-gray-900 transition-all duration-300 cursor-pointer hover:animate-bouncing`>
    {text}
</button>